service folio-daemon /system_ext/bin/folio-daemon
    class late_start
    user system
    group system uhid
    disabled

on property:init.svc.zygote=running
    start folio-daemon

on property:init.svc.zygote=stopped
    stop folio-daemon
