on boot
    chown system system /dev/awinic_haptic
    chmod 0600 /dev/awinic_haptic

service vendor.vibrator /vendor/bin/hw/android.hardware.vibrator.service.oplus-richtap
    class late_start
    user system
    group system input
    setenv RICHTAP_DEVICE_PATH /dev/awinic_haptic
    setenv ENV_RICHTAP_CONFIG_PATH /odm/etc/aac_richtap.config
