type horae_exec, exec_type, system_file_type, file_type;
init_daemon_domain(horae)

type horae_service, system_api_service, service_manager_type;
add_service(horae, horae_service)

allow horae horae_service:service_manager find;
allow horae osense_service:service_manager find;
allow horae surfaceflinger_service:service_manager find;
allow horae thermal_service:service_manager find;

binder_call(horae, servicemanager)
binder_call(horae, system_server)

hal_client_domain(horae, hal_health)

rw_dir_file(horae, horae_proc)

unix_socket_send(horae, statsdw, statsd)
