type oplusaccessories_app, domain, coredomain;

app_domain(oplusaccessories_app)
bluetooth_domain(oplusaccessories_app)

allow oplusaccessories_app self:netlink_kobject_uevent_socket { create read setopt bind };

allow oplusaccessories_app app_api_service:service_manager find;
