# Display
vendor_internal_prop(system_oplus_iris_prop)

# Fingerprint
vendor_internal_prop(system_fingerprint_prop)

# Touch
system_public_prop(system_oplus_touch_prop)

# Version
system_vendor_config_prop(system_oplus_project_prop)
