<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023-24 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.aospa.dolby.oplus"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:label="@string/dolby_title"
        android:persistent="true">

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DolbyActivity"
            android:label="@string/dolby_title"
            android:theme="@style/Theme.SubSettingsBase"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.CATEGORY_CONTENT_MUSIC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                       android:value="com.android.settings.category.ia.sound" />
            <meta-data android:name="com.android.settings.summary_uri"
                       android:value="content://co.aospa.dolby.oplus.summary/dolby" />
        </activity>

        <activity
            android:name=".geq.EqualizerActivity"
            android:label="@string/dolby_preset"
            android:theme="@style/Theme.SubSettingsBase"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".DolbyTileService"
            android:icon="@drawable/ic_dolby_qs"
            android:label="@string/dolby_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <provider
            android:name=".SummaryProvider"
            android:authorities="co.aospa.dolby.oplus.summary">
        </provider>

    </application>
</manifest>

